{% extends 'base.html.j2' %}
{% block title %}Home{% endblock %}

{% block content %}
    <!--Hero at top-->
    <section class="ons-hero ons-grid--gutterless">
        <div class="ons-hero__container ons-container">
            <div class="ons-hero__details ons-grid__col ons-col-8@m">
                <header>
                    <h1 class="ons-hero__title">Welcome to SDX Toolbox</h1>
                </header>
                <p class="ons-hero__text">Please select one of the available tools below or go straight to the Queue</p>
                <a href="/queue" role="button" class="ons-btn ons-btn--link ons-js-submit-btn">
                    <span class="ons-btn__inner">Go to Queue
                        <svg class="ons-svg-icon ons-u-ml-xs" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                            <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </section>
    <!--Rest of page-->
    <div class="ons-page__container ons-container ons-page__main">
        <div class="ons-grid">
            <div class="ons-container">
                <div class="ons-grid ons-grid--column@xxs@s ons-u-mt-l ons-u-mb-l@m">
                    <!--Column-->
                    <div class="ons-grid__col ons-col-4@m">
                        <div class="ons-card" aria-labelledby="" aria-describedby="">
                            <h2 class="ons-u-fs-m" id="">
                                <a href="/foundations">Queue</a>
                            </h2>
                            <p id="">View and manage messages on the SDX Quarantine Queue</p>
                        </div>
                    </div>
                    <!--Column-->
                    <div class="ons-grid__col ons-col-4@m">
                        <div class="ons-card" aria-labelledby="" aria-describedby="">
                            <h2 class="ons-u-fs-m" id="">
                                <a href="/foundations">Tool 2</a>
                            </h2>
                            <p id="">Example of another Toolbox tool</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    </div>
{% endblock %}