{% extends 'base.html.j2' %}
{% block title %}Queue{% endblock %}
{% block content %}


<!--Main page content-->
<div class="ons-page__container ons-container ons-page__main">
    <!--Top title-->
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-8@m">
            <h1>The Quarantine queue</h1>
        </div>
    </div>
    <!--Dropdown bar-->
    <div class="ons-u-mt-l ons-u-mb-m">
        <div class="ons-pl-grid-col">
            <div class="ons-field">
              <label class="ons-label  " for="select">Filter by error message</label>
              <select id="select" name="select" class="ons-input ons-input--select">
                <option value="" selected disabled>Select an option</option>
                <optgroup label="All">
                    <option value="all">View all</option>
                </optgroup>
                <optgroup label="Error messages">
                    <option value="gcp">GCP error (2)</option>
                    <option value="household-accommodation">Syntax error</option>
                    <option value="health">Other error</option>
                    <option value="health">Other error 2</option>
                </optgroup>
              </select>
            </div>  
        </div>
    </div>
    <!--Buttons bar-->
    <div class="ons-grid">
        <!--Left-->
        <div class="ons-grid__col ons-col-4@m">
            <button type="button" class="ons-btn ons-btn--small">
              <span class="ons-btn__inner">Select all</span>
            </button>
        </div>
        <!--Right-->
        <div class="ons-grid__col ons-col-8@m" style="text-align: right;">
            <button type="button" class="ons-btn ons-btn--secondary ons-btn--small">
              <span class="ons-btn__inner">Refresh</span>
            </button>
        </div>
    </div>
    <!--Table section-->
    <div class="ons-u-mt-m ons-u-mb-l tableFixHead tablePadding" style="border: 1px solid #E9E8EA">
        <table class="ons-table ons-table--sortable" data-aria-sort="Sort by" data-aria-asc="ascending" data-aria-desc="descending">
          <thead class="ons-table__head" style="background-color: white;">
            <tr class="ons-table__row">
              <th scope="col" class="ons-table__header " aria-sort="none">
                <span class="ons-u-vh">Select</span>
                <svg id="sort-sprite-select" class="ons-svg-icon " viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                  <path class="ons-topTriangle" d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
                  <path class="ons-bottomTriangle" d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
                </svg>
              </th>
              <th scope="col" class="ons-table__header " aria-sort="none">
                <span class="ons-u-vh">TXID</span>
                <svg id="sort-sprite-txid" class="ons-svg-icon " viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                  <path class="ons-topTriangle" d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
                  <path class="ons-bottomTriangle" d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
                </svg>
              </th>
              <th scope="col" class="ons-table__header " aria-sort="none">
                <span class="ons-u-vh">Error message</span>
                <svg id="sort-sprite-error message" class="ons-svg-icon " viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                  <path class="ons-topTriangle" d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
                  <path class="ons-bottomTriangle" d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
                </svg>
              </th>
              <th scope="col" class="ons-table__header " aria-sort="none">
                <span class="ons-u-vh">Count</span>
                <svg id="sort-sprite-count" class="ons-svg-icon " viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                  <path class="ons-topTriangle" d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
                  <path class="ons-bottomTriangle" d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
                </svg>
              </th>
            </tr>
          </thead>
          <tbody class="ons-table__body">
            {% for i in range(25) %}
                <tr class="ons-table__row">
                  <td class="ons-table__cell ">
                    <label class="checkContainer">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                  </td>
                  <td class="ons-table__cell ">
                    ADJKJKM-ADADC-{{i}}
                  </td>
                  <td class="ons-table__cell ">
                    GCP Failure
                  </td>
                  <td class="ons-table__cell ">
                    {{i}}
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}