{% extends 'base.html.j2' %}
{% block title %}Queue{% endblock %}
{% block content %}


<!--Main page content-->
<div class="ons-page__container ons-container ons-page__main">
    <!--Top title-->
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-8@m">
            <h1>The Quarantine queue</h1>
        </div>
    </div>
    <!--Dropdown bar-->
    <div class="ons-u-mt-l ons-u-mb-m">
        <div class="ons-pl-grid-col">
            <div class="ons-field">
              <label class="ons-label  " for="select">Filter by error message</label>
              <select id="select" name="select" class="ons-input ons-input--select">
                <option value="" selected disabled>Select an option</option>
                <optgroup label="All">
                    <option value="all">View all</option>
                </optgroup>
                <optgroup label="Error messages">
                    <option value="gcp">GCP error (2)</option>
                    <option value="household-accommodation">Syntax error</option>
                    <option value="health">Other error</option>
                    <option value="health">Other error 2</option>
                </optgroup>
              </select>
            </div>  
        </div>
    </div>
    <!--Buttons bar-->
    <div class="ons-grid">
        <!--Left-->
        <div class="ons-grid__col ons-col-4@m">
            <button type="button" class="ons-btn ons-btn--small">
              <span class="ons-btn__inner">Select all</span>
            </button>
        </div>
        <!--Right-->
        <div class="ons-grid__col ons-col-8@m" style="text-align: right;">
            <button type="button" class="ons-btn ons-btn--secondary ons-btn--small">
              <span class="ons-btn__inner">Refresh</span>
            </button>
        </div>
    </div>
    <!--Table section-->
    <div class="ons-u-mt-m ons-u-mb-l">
        <!--Table-->
        <table id="message-table" class="ons-table ">
          <thead class="ons-table__head">
            <tr class="ons-table__row">
              <th scope="col" class="ons-table__header ">
                <span>Select</span>
              </th>
              <th scope="col" class="ons-table__header ">
                <span>TX ID</span>
              </th>
              <th scope="col" class="ons-table__header ">
                <span>Error message</span>
              </th>
              <th scope="col" class="ons-table__header ">
                <span>Count</span>
              </th>
            </tr>
          </thead>
          <tbody class="ons-table__body">
            <tr class="ons-table__row">
              <td class="ons-table__cell " name="cell-name">
                <input type="checkbox" name="select">
              </td>
              <td class="ons-table__cell ">
                ADJKJKM-ADADC
              </td>
              <td class="ons-table__cell ">
                GCP Failure
              </td>
              <td class="ons-table__cell ">
                2
              </td>
            </tr>
          </tbody>
        </table>
    </div>

    

</div>
{% endblock %}