
<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Favicons -->
      <meta name="msapplication-config" content="{{ url_for('static', filename='favicons/browserconfig.json') }}">
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicons/favicon.ico') }}">
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}" sizes="32x32">
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}" sizes="16x16">
      <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#000000">
      <link rel="apple-touch-icon" type="image/png" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}" sizes="180x180">
      <link rel="manifest" href="{{ url_for('static', filename='favicons/manifest.json') }}">
      <!--ONS Styles-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/ons.css') }}">
      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
      <!--Font awesome-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

      <!--Title-->
      <title>{% block title %}{% endblock %} | Toolbox</title>
  </head>
  <body>
    
      <div class="ons-page">
          <div class="ons-page__content">
              <a class="ons-skip-link" href="#main-content">Skip to main content</a>
              {% include 'elements/header.html.j2' %}
              <div class="ons-page__container ons-container ">
                  <div class="ons-grid">
                      <div class="ons-grid__col ons-col-8@m">
                          <main id="main-content" class="ons-page__main ">
                              <h1>Page Title</h1>
                          </main>
                      </div>
                  </div>
              </div>
          </div>
          {% include 'elements/footer.html.j2' %}
      </div>
      <!--ONS JS-->
      <script src="{{ url_for('static', filename='scripts/ons.js') }}"></script>  
  </body>
</html>

